@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background-color: #f8fafc;
  color: #1e293b;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

input,
textarea,
select,
button {
  font: inherit;
}
